<div class="col-lg-8 d-flex align-items-center reservation-form-bg">
    <form action="/book-a-table" method="post" role="form" class="php-email-form"
          data-aos="fade-up" data-aos-delay="100">
        {{ form_start(form) }}
        <div class="row gy-4">

            <div class="col-lg-4 col-md-6">
                <input type="text"
                       name="{{ field_name(form.name) }}"
                       class="form-control"
                       id="name"
                       placeholder="Your Name"
                       data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate">
                    {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <input type="email"
                       class="form-control"
                       name="{{ field_name(form.email) }}"
                       id="email"
                       placeholder="Your Email"
                       data-rule="email"
                       data-msg="Please enter a valid email">
                <div class="validate">
                    {{ form_errors(form.email) }}
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <input type="text"
                       class="form-control"
                       name="{{ field_name(form.phone) }}"
                       id="phone"
                       placeholder="Your Phone"
                       data-rule="minlen:4"
                       data-msg="Please enter at least 4 chars">
                <div class="validate">
                    {{ form_errors(form.phone) }}
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <input type="datetime-local"
                       name="{{ field_name(form.date) }}"
                       class="form-control"
                       id="date"
                       placeholder="Date"
                       data-rule="minlen:4"
                       data-msg="Please enter at least 4 chars">
                <div class="validate">
                    {{ form_errors(form.date) }}
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <input type="number"
                       class="form-control"
                       name="{{ field_name(form.seats) }}"
                       id="seats"
                       placeholder="seats"
                       data-rule="minlen:1"
                       data-msg="Please enter at least 1 chars">
                <div class="validate">
                    {{ form_errors(form.seats) }}
                </div>
            </div>

        </div>

        <div class="form-group mt-3">
            <textarea class="form-control"
                      name="{{ field_name(form.message) }}"
                      rows="5"
                      placeholder="Message"></textarea>
            <div class="validate">
                {{ form_errors(form.name) }}
            </div>
        </div>

        <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
        </div>
        <div class="text-center pt-3">
            {{ form_row(form.submit) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </form>
</div><!-- End Reservation Form -->